<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<!-- <button ion-button (click)="getPatientProfile()">Profile</button> -->
<ion-card *ngIf="profile">
  <!-- <ion-card-header>
   {{profile.firstName}}
  </ion-card-header> -->
  
  <!-- <ion-item>
    <ion-avatar item-center>
      <img src="{{src}}">
    </ion-avatar>
  </ion-item> -->
  <ion-list>
    <ion-item>
       <h2><b>Hi! {{profile.firstName}} {{profile.lastName}}</b></h2> 
      </ion-item>
  <ion-item>
      <h3>Email: {{profile.EmailAddress}}</h3>
    </ion-item>

    <ion-item>
        <h3>Date of Birth: {{profile.Dob}}</h3>
    </ion-item>
    <ion-item>
        <h3>Address: </h3>
       <h3>Pincode: {{profile.address.PinCode}}</h3>
       <h3>City: {{profile.address.city}}</h3>
       <h3>Country: {{profile.address.country}}</h3>
       <h3>House No : {{profile.address.number}}</h3>
       <h3>Street: {{profile.address.street}}</h3>
    </ion-item>
 </ion-list>
</ion-card>
<!-- <button ion-button (click)="scanBarcode()">Scan</button> -->
  <ion-card *ngIf="docId">
    <ion-item>
        <h3>Access granted to Doctor with  </h3>
    </ion-item>
  
  <ion-item>Doctor Id :<b>{{docId}}</b></ion-item>
  <ion-item>At {{body.timestamp}}</ion-item>
  </ion-card>
  <!-- <button ion-button (click)=" postAllowDoctorWrite()">Give Write Access</button> -->
<button ion-button icon-start color="dark" (click)="openMedicalRecords()">
  <ion-icon name="medkit"></ion-icon>
  Medical Records
</button>
<button ion-button icon-start color="dark" (click)="scanBarcode()"><ion-icon name="qr-scanner"></ion-icon>Scan</button>
</ion-content>
